{% extends 'portfolio.html' %}
{% load static %}
{% block  style%}
<style>

.button {
  
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button2 {
    background-color: rgb(28, 46, 72);
    color: white;
    
  }
  
.button2:hover {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(28, 46, 72);
  }

.all{
  background-color: #f2f2f2;
}
  
</style>
{% endblock  %}
{% block  body%}
   {% include 'navbar.html' %} 
<div class="all text-left" style="padding-left: 400px;">
<br>
<br>
<h3>education 확인하기</h3>
{% for education in educations %}
<p>교육명 : {{education.edu_name}}</p>
<p>교육내용: {{education.edu_content}}</p>
<p>교육시작일: {{education.edu_data_start}}</p>
<p>교육종료일:{{education.edu_data_finish}}</p>

{% endfor %}
<br>
<h3>education 작성하기</h3>
<form action="" method="POST">
{% csrf_token %}
{{ edu_form.as_p }}
<button class="button button2">저장</button>
</form>
<br>
<h3>experience 확인하기</h3>
{% for experience in experiences %}
<p>
경력사항명: {{experience.ex_name}}
</p>
<p>
경력 내용: {{experience.ex_content}}
</p>
<p>
경력 시작일: {{experience.ex_data_start}}
</p>
<p>
경력 종료일: {{experience.ex_data_finish}}
</p>

{% endfor %}
<br>
<h3>experience 작성부분</h3><br>
<form action="" method="POST">
{% csrf_token %}
{{ ex_form.as_p }}
<button class="button button2">저장</button>
</form>
<br>
<h3>project 확인하기</h3><br>
{% for project in projects %}
<p>
프로젝트명: {{project.project_name}}
</p>
<p>
프로젝트 시작일: {{project.project_start}}
</p>
<p>
프로젝트 종료일: {{project.project_finsh}}
</p>
<p>
프로젝트내 역할: {{project.project_role}}
</p>
<p>
프로젝트 개발스텍: {{project.project_skill}}
</p>
<p>
프로젝트 내용: {{project.project_content}}
</p>
<p>
프로젝트 레포지토리 이름: {{project.github}}
</p>
<br>
{% endfor %}

 <br>
<h3>project 작성하기</h3><br>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ project_form.as_p }}
<button class="button button2">저장</button>
</form>     
</div>

{% endblock  %}