{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
<style>
.title{
  font-size:36px;
  font-weight:400; 
  text-align: center;
}
.subtitle{
  font-size:22px; 
  font-weight:200; 
  text-align: center;  
}

.skill{
  color:white;
}
</style>
{% endblock style %}

{% block content %}
<div class="title pt-5">템플릿</div>
  <form action="" method="POST">  
  {% csrf_token %}  
  {{ form.job }}
  <br>
  {{ form.introduce }}
  <br>
  {{ form.develop_content1 }}
  <br>
  {{ form.develop_content2 }}
  <br>
  {{ form.develop_content3 }}
  <br>
  {{ form.develop_content4 }}
  <br>
  {{ form.develop_content5 }}
  <br>
  {{ form.develop_content6 }}
  <br>
  <h1>사용 가능한 skill을 선택하세요.</h1>
 
  <div class="row">
    <div class="col-4" style="font-size:20px">
    <ul>
    {% for skill in skills %} 
      <li>
      <img src="{{ skill.skill_img}}" width:"10" height="20" alt="">{{ skill.skill_name}}
      <br>
      </li>     
  {% endfor %}
  </ul>
    </div>
    <div class="skill col-6 ">
    {{ form.all_skills}}
    </div>
  </div>
  <!--색 카드 시작-->

 <div class ='row row-cols-1'>  
    {% for post in posts %}
    <div class='col-sm mt-4 mb-4' style="">
        <div class="row">
            <div class="col">
                <div class="form-check form-check-inline">
                 <a># color {{post.color.pk}}</a>&nbsp;&nbsp;&nbsp;
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{post.color.pk}}" name="color"> 
                </div>
                <div style="height: auto; width: 100%; border:1px solid black;">
                    <div class="color" style="background-color:{{post.color.color1}}; ">　</div>
                    <div class="color" style="background-color:{{post.color.color2}};">　</div>
                    <div class="color" style="background-color:{{post.color.color3}};">　</div>
                    <div class="color" style="background-color:{{post.color.color4}};">　</div>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
</div>

  <button class="btn btn-light" type="reset">다시 작성하기</button>
  <button class="btn btn-primary">작성완료</button>
  </form>
  <br>
{% endblock content %}
