.navsize {
    height: 100px;
    font-size: 1.2em;
  }

  body{
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 75px;
  }

  .main {
    height: 750px;
    display: flex;
    flex-wrap: wrap;
  }

  .mainleft {
    width: 40%;
  }

  .mainright {
    width: 60%;
  }

  .maincard{
    width: 80%;
    height: 600px;
    position: absolute;
    z-index: 100;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    top: -8%;
    display: flex;
    flex-wrap: wrap;
  }

  .cardleft {
    width: 40%;
  }

  .cardright {
    width: 55%;
    margin-left: 5%;
  }

  .border-0 {
    width: 100%;
    height: 100%;
    text-align: center;        
  }
  
  .boldword{       
    font-weight: bold; 
    font-size: 1.5em;       
  }
  .cardword{                
    font-size: 1.2em;       
  }
  
  hr{
  border-top: 3px solid rgba(0,0,0,.1);
  }
  a{
    color:black
  }
.shadows {
  text-shadow: 2px 1px slategray;
  font-weight: bold;
}
.ulfont{
  font-size: 0.95em;
}

#chartdiv {
width: 100%;
height: 400px;
font-weight:bold;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.skill{
    width:100%;
    height: 3000px;


}

.skiltop{
   height: 100px;
}

.skillcard{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 70%;
}

.skillfont{
  font-size: 2.5em;

}

.cardhead{
  color: black;
  font-weight: bold;
  font-size: 1.4em;

}

.skillimg{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.skillgroup{
  padding-top: 50px;
  padding-bottom: 50px;
}