{% load static %}
{% block  style %}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body {
    font-family: 'Nanum Gothic Coding', monospace;
}
 .color{
    height: 40px;
 }
{% endblock  %}


 <div class="card"> 
    <!--template에 보이는 card page-->
    <div class='col-sm mt-4 mb-4' style="height:200px;">
        <div class="row">
            <div class="col">
                <div class="color" style="background-color:{{post.color.color1}};"> </div>
                <div class="color" style="background-color:{{post.color.color2}};"> </div>
                <div class="color" style="background-color:{{post.color.color3}};"> </div>
                <div class="color" style="background-color:{{post.color.color4}};"> </div>
            </div>
        </div>
    </div> 
    <div class="card-body row pt-0">
        <div class="col-6 ml-1">
            {% if post in user.like_posts.all %}
                <i data-id="{{post.id}}" class="fas fa-heart fa-lg" style="color:red"></i> 
            {% else %}
                <i data-id="{{post.id}}" class="far fa-heart fa-lg" style="color:gray"></i>
            {% endif %}
            <a href="">{{post.like_users.count}}</a>
        </div>
        <div class="col-5 mr-0 pr-0">
            <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#card-modal-{{post.id}}" style="font-size: 9px">미리보기</a>
        </div>
    </div>
</div>


<!--modal-->
<div class="modal fade" id="card-modal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header row">
                <img class="ml-3"src="{% static "mains/images/logo3.png" %}" width="150" height="40" alt="Logo">
                <h5 class="modal-title" id="exampleModalLabel">템플릿 미리보기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              {% include 'mains/modal.html'%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
// 1. 누구를
var likeButtons = document.querySelectorAll('.fa-heart')   
likeButtons.forEach(function(likeButton){
// 2. 어떻게 했을때
likeButton.addEventListener('click',function(event){
    // 클릭이 일어나면 뭔가를 해줘
    var targetId =event.target.dataset.id
    axios.get(`/mains/${targetId}/like/`)
    .then(function(res){
    if(res.data.liked){
        // 좋아요를 누른 경우(true)
        event.target.style.color = 'red'
        event.target.classList.remove('far')
        event.target.classList.add('fas')
    }else{
        // 좋아요 취소한 경우(false)
        event.target.style.color = 'gray'
        event.target.classList.remove('fas')
        event.target.classList.add('far')
    }
    })
}) 
})
</script>