{% load bootstrap4 %}
{% load static %}

<h5># {{post.pk}}번째 색상</h5>
 <!-- 댓글 -->
 <table>
  
  {% for comment in comments %}
  <div class=row>
    {% if comment.post_id == post.pk %}
    <div class="col-2">{{ user.github_img }}</div>
    <div class=""> {{user.username}}</div>
    <div class="col-6">{{ comment.content }}</div>
    <div class="col-3">{{ comment.created_at|date:"Y-m-d" }}</div>
    {% endif %}
  </div>
  {% endfor %}
  </table>

  <hr>
<!-- 댓글 작성 form -->
  {% if request.user.is_authenticated %} 
    <form action="{% url 'mains:comment_create' post.pk %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-10">
        {% bootstrap_field comment_form.content show_label=False %}
        {% comment %} {% bootstrap_form comment_form %} {% endcomment %}
        </div>
        <div class="col-2">
          <button class="btn btn-primary btn-sm">Submit</button>
        </div>
      </div>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인 하세요.</a>
  {% endif %}

