{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>Github.io 만들기</h1>
    
    # 참고하기 
    https://zoomkoding.github.io/gitblog/2019/08/15/git-blog-1.html
    <h2>1. 회원가입</h2>
    <h2>2. repository 생성</h2>
    - 오른쪽 상단의 new repository 클릭
    - 위의 사진처럼 new repository 를 생성하고 
    - Repository name에 (username).github.io를 입력합니다.

 

그러면 페이지 생성은 완료 되었습니다.
    - 여기서 주의할 점
     Repository명은 꼭 [본인아이디].github.io 로 설정한다.
    빠른 작업을 위해 Initialize this repository with a README를 체크한다.
     생성을 마무리하면 다음과 같이 Repository가 생성된 것을 볼 수 있다.
    - 그리고 나서 웹창에 방금 생성한 repository이름([본인아이디].github.io)를 치면 블로그가 생성된 것을 확인가능.
{% endblock content %}
    