{% load static %}
{% block style %}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body {
    font-family: 'Nanum Gothic Coding', monospace;
}

{% endblock  %}
{% block content %}
<!--template modal detail-->
<div class="row">
  <!--template detail img-->
  <div class="col-6">
    <img src="/static/mains/images/portfolio{{post.id}}.png" class="card-img-top">
  </div>
  <!--template detail 댓글-->
  <div class="col-6">
  {% include 'mains/detail.html' %}
    </div>
 </div> 
{% endblock content %}
  