{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
<style>
.title{
  font-size:36px;
  font-weight:400; 
  text-align: center;
}
.subtitle{
  font-size:22px; 
  font-weight:200; 
  text-align: center;  
}
</style>
{% endblock style %}

{% block content %}
<div class="title pt-5">템플릿</div>
  <div class="subtitle">원하시는 색상을 선택하세요.</div>
  <br>
    <div class ='row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4'>  
        {% for post in posts %}
        <div class='col'>
           {% include 'mains/card.html' %}
        </div>
        {% endfor %}
    </div>
  </div>
</div>

  <!--색 카드 끝-->  
  <form action="" method="POST">  
  {% csrf_token %}  
  {{ form.job }}
  <br>
  {{ form.introduce }}
  <br>
  {{ form.develop_content1 }}
  <br>
  {{ form.develop_content2 }}
  <br>
  {{ form.develop_content3 }}
  <br>
  {{ form.develop_content4 }}
  <br>
  {{ form.develop_content5 }}
  <br>
  {{ form.develop_content6 }}
  <br>
  <h1>사용 가능한 skill을 선택하세요.</h1>
  <h1>Application&Data</h1>
  {{ form.all_skills }}

  <h1>businessTools</h1>
   {% for skill  in skills %} 
    {% if skill.skill_kind == 'businessTools'%}
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{ skill.pk}}" name="allskill">
      <label class="form-check-label" >{{ skill.skill_kind}}:{{ skill.skill_name}}</label>
      </div>
    {% endif %}   
  {% endfor %} 
  <h1>DevOps</h1>
  {% for skill  in skills %} 
    {% if skill.skill_kind == 'DevOps'%}
      <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{ skill.pk}}" name="allskill">
      <label class="form-check-label" >{{ skill.skill_kind}}:{{ skill.skill_name}}</label>
      </div>
    {% endif %}    
  {% endfor %} 
  <h1>Utilities</h1>
  {% for skill  in skills %}      
    {% if skill.skill_kind == 'Utilities'%}
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{ skill.pk}}" name="allskill">
    <label class="form-check-label" >{{ skill.skill_kind}}:{{ skill.skill_name}}</label>
    </div>
    {% endif %}
  {% endfor %}   
  <br><br>
  
  
  <button class="btn btn-light" type="reset">다시 작성하기</button>
  <button class="btn btn-primary">작성완료</button>
  </form>
  <br>

  
<!-- Template Detail Modal End-->
  <script>
  // 1. 누구를
  var likeButtons = document.querySelectorAll('.fa-heart')   
   likeButtons.forEach(function(likeButton){
  // 2. 어떻게 했을때
    likeButton.addEventListener('click',function(event){
      // 클릭이 일어나면 뭔가를 해줘
      var targetId =event.target.dataset.id
       axios.get(`/mains/${targetId}/like/`)
      .then(function(res){
        if(res.data.liked){
          // 좋아요를 누른 경우(true)
          event.target.style.color = 'red'
          event.target.classList.remove('far')
          event.target.classList.add('fas')
        }else{
          // 좋아요 취소한 경우(false)
          event.target.style.color = 'gray'
          event.target.classList.remove('fas')
          event.target.classList.add('far')
        }
      })
    }) 
  })
  </script>
   
{% endblock content %}

  