{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load static %}
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <img class="col-3" src="{% static "mains/images/logo.png" %}" width="200px" alt="">
            <hr>
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form%}
                <button class='btn btn-primary col align-self-end'>login</button>    
            </form>
        </div>
    </div>
{% endblock  %}