{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block style %}
<style>

</style>
{% endblock style %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-5">
        <br>
        <form action="{% url 'accounts:signup' %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}  
          <hr>
          <div class="row ">
            <div class="col-2">
              <img src="{% static 'img/portfolio/git.png' %}" alt="" style='width:40px;'>
            </div>
            <div class="col-7">
              <input id="check-username" class="form-control" type="text" placeholder="Github Username 확인">
            </div>
            <div class="col-2">
              <a id="check-url" href="" target="_blank">
              <button type="button" id="check-url" class="btn btn-primary"  onclick="myFunction();"> 
              check
              </button>
              </a>
            </div>
          </div>
          <br>
          <br>
          <div class="row justify-content-md-center">
            <button class="btn btn-primary justify-md-center">가입</button>    
          </div>
        </form>  
    </div>
</div>

<!--github Username Check-->
<script>
function myFunction() {
  checkUsername = document.querySelector('#check-url').getAttribute('href')
  URL = 'https://github.com/'
  USERNAME = document.querySelector('#check-username').value
  checkUsername = URL + USERNAME
  document.querySelector('#check-url').setAttribute('href', checkUsername)
  window.open(checkUsername,"","width=400,height=280")
}
</script>

{% endblock  %}
