{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <br>
            <form action="{% url 'accounts:signup' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <label for="id_githubusername">Github Username</label>
                <input type="text" class="form-control" id="id_githubusername">
                <button class="btn btn-primary">확인</button>    

                <button class="btn btn-primary">가입</button>    
            </form>
        </div>
    </div>
{% endblock  %}
